*, *:before, *:after {
    box-sizing: border-box;
}

label[for] {
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}

.grid {
    width: 100%;
    position: relative;
}

.lightbox {    
    z-index: 1;
    min-height: 100%;
    overflow: auto;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
    transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.lightbox img {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 96%;
    max-height: 96%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

input[type="checkbox"]:checked + .lightbox {
    -webkit-transform: scale(1);
    transform: scale(1);
}

input[type="checkbox"]:checked ~ .grid {
    opacity: .125;
}

.grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: space-between;
    -ms-flex-align: start;
    align-items: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: start;
    align-content: space-between;
    height: 100%;
    overflow: auto;
    z-index: 0;
    text-align: center;
    -webkit-transition: opacity .75s;
    transition: opacity .75s;
}

.grid .grid-item {
    display: block;
    width: 25%;
    padding: 16px;
    opacity: .75;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.grid .grid-item:hover {
    opacity: 1;
}

@media screen and (max-width: 1280px) {
    .grid .grid-item {
        width: 33.3333%;
    }
}

@media screen and (max-width: 960px) {
    .grid .grid-item {
        width: 50%;        
    }
    .lightbox {
      display: none;
    }
}

@media screen and (max-width: 480px) {
    .grid .grid-item {
        width: 100%;
    }
}

@media screen and (min-width: 960px) {
  .lightbox {
    width: -moz-calc(100% - 530px);
    width: -webkit-calc(100% - 530px);
    width: -o-calc(100% - 530px);
    width: calc(100% - 530px);
    position: fixed;
    top: 0;
    left: 530px;
  }
}

.grid img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}