<nav class="pagination" role="navigation">
  <!-- Previous Page -->
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <!-- Link for first page -->
      <a rel="prev" class="posts newer btn small" href="{{ site.baseurl }}/blog/" title="Previous Page">{{ site.t.pagination.previous_page[site.active_lang] }}</a>
    {% else %}
      <!-- Link for previous page -->
      <a rel="prev" class="posts newer btn small" href="{{ site.baseurl }}/blog/page{{ paginator.previous_page }}/">{{ site.t.pagination.previous_page[site.active_lang] }}</a>
    {% endif %}
  {% endif %}

  <!-- Page x of xx -->
  <span class="pagination__page-number">{{ site.t.pagination.page[site.active_lang] }} {{ paginator.page}} {{ site.t.pagination.of[site.active_lang] }} {{ paginator.total_pages}}</span>

  <!-- Next Page -->
  {% if paginator.next_page %}
    <a rel="next" class="posts older btn small" href="{{ site.baseurl }}/blog/page{{ paginator.next_page }}/">{{ site.t.pagination.next_page[site.active_lang] }}</a>
  {% endif %}
</nav>